{% extends 'serventparent.html' %}
{% load static %}

{% block title %} Top Social Person {% endblock title %}

{%block content%}

<!-- <div class=" feed-search"> -->
  <!-- <div class="user-profile">
     <a>
        <img class="profile-img" src="{% static 'img/user.jpeg' %}" alt=""></a>   
         </div>        -->
     <!-- <form >
        <div class="search">
           <input type="text" placeholder="write here to search something">
        </div>
         
        <div class="btn">
          <a href="{% url 'serventapp:rank'%}">
          <button type="submit">Enter</button>
       </a>
        </div>
     </form>
     
  </div> -->
  <p class=" text-center" style="font-size: 25px; margin-top: 20px; margin-bottom: 20px;">Top Social Person</p> 
  <table>
      <thead>
        <tr>
          <th>Serial No.</th>
          <th>Profile Image</th>
          <th>Name</th>
          <th>Contact number</th>
          <th>City</th>
          <th>Reward</th>
        </tr>
      </thead>
      <tbody>
        {% for t in top_envorior %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>
            <div class="user-profile">
              {% if t.profile.profile_picture %} 
                   <a href=""><img class="profile-img" src="{{ t.profile.profile_picture.url }}" alt=""/> </a>
              {% else %}
                   <a href=""><img class="profile-img" src="{% static 'img/profile.png' %}" alt=""/> </a>
              {% endif %} 
            </div>
          </td>
          <td>{{t.profile.full_name}}</td>
          <td>{{t.profile.contact_no}}</td>
          <td>{{t.profile.city}}</td>
          <td>{{t.reward}}</td>
          
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
</div>
{% endblock %}






