{% extends 'generalparent.html' %}
{% load static %}

{% block title %}Login{% endblock title %}


{% block body %}
<div class="wrapper">
    <div class="fs-2 text-center">Change Password</div>
    <form action="{% url 'generalapp:change_password' %}" method="POST">
      {% csrf_token %}
      <div class="row mt-3">Please write the password</div>
      <div class="input-box">
        <input type="password" placeholder="Enter password" id="pass1" name="pass1" required >
        <i class='bx bxs-user'></i>
      </div>
      <div class="row mt-3">Please Confirm the password</div>
      <div class="input-box">
        <input type="password" placeholder="Confirm password" id="pass2" name="pass2" required >
        <i class='bx bxs-user'></i>
      </div>
      <button type="submit" class="btn">Change Password</button>
    </form>
  </div>
   
{% endblock body %}