{% extends 'generalparent.html' %}
{% load static %}

{% block title %}Registration{% endblock title %}

{% block body %}
<!-- container -->
<div class="wrapper">
    <!-- left box -->
    <div class="regleftbox">
        <!-- registration form -->
        <form  action="{% url 'generalapp:registration' %}" method="POST" class="form w-75 mx-auto">
            {% csrf_token %}
            
            <!-- validation message -->
            <p style="color: red;" id="validationresult">{{validation_message}}</p>
            <h1 style="font-size: 36px;
            text-align: center;">Registration</h1>
            <div class="row mt-3 ">
                <div class="col-sm-6">
                    <input type="text" name="email" id="email" placeholder="Email address" class="form-control" />
                </div>
                <div class="col-sm-6">
                    <input type="text" name="contact_no" id="contact" placeholder="Contact no." class="form-control" />
                </div>
              </div>

          <div class="row mt-2 ">
            <div class="col-sm-12">
                <input type="text" name="full_name" id="name" class="form-control" placeholder="Enter Full Name name">
            </div>
          </div>
          <div class="row mt-2 fs-6">
            <div class="col-sm-12">
                <input type="date" id="dob" required name="dob" class="form-control" >
            </div>
          </div>

          <div class="row mt-2 fs-6">
            <div class="col-sm-12">
                <select name="state" required id="state" class="form-control" id="">
                    <option selected >---Your State ---</option>
                    <option value="UP">UP</option>
                    <option value="MP">MP</option>
                    <option value="Delhi">Delhi</option>
                </select>
            </div>
          </div>
          <div class="row mt-2 fs-6">
            <div class="col-sm-6">
                <select name="city" required id="city" class="form-control" >
                    <option selected >---Your City ---</option>
                    <option value="Lucknow">Lucknow</option>
                    <option value="Kanpur">Kanpur</option>
                    <option value="Gorakhpur">Gorakhpur</option>
                </select>
            </div>
            <div class="col-sm-6">
                <input type="text" required id="pin" name="pin_code" placeholder="Pin Code" class="form-control" />
            </div>
          </div>

          <div class="row mt-2 fs-6">
            <div class="col-sm-6">
                <input type="password" required id="password1" name="password" placeholder="Password" class="form-control" />
            </div>
            <div class="col-sm-6">
                <input type="password" required id="password2" name="confirmpassword" placeholder="Confirm password" class="form-control" />
            </div>
          </div>

          <div class="row my-4">
            <div class="col-sm-12" style="text-align: center;">
                <Button type="submit" class="btn btn-warning w-80" >Create an account</Button>
            </div>
          </div> 
        </form>

        <!-- already have an account -->
        <div class="row text-center fs-5 mb-4">
            <a href="{% url 'generalapp:login' %}" style="text-decoration:none; color: #fff;">Already a Social Warrior/Login.</a>
        </div>

    </div>
</div>
{% endblock body %}