{% extends 'publicparent.html' %} {% load static %} {% block title %} Dashboard
{% endblock title %} {%block content%}
<div id="form-layout">
  <p class="txt-1">complain</p>
  <div class ="img">
    <img src="{% static 'img/complain.png' %}" height="100%" width="100%" />
  </div>
 

 
<form action="#" method='POST' enctype="multipart/form-data">
  {% csrf_token %}
  <div class="search">
  <select name="complain_type" id=""  >
      <option selected >---Complain Type ---</option>
      <option value="Water Problem">Water</option>
      <option value="Cleaning">Cleaning</option>
      <option value="Garbage">Garbage</option>
  </select></div>
  <div class="search"><input type="file" name="complain_image" placeholder=" Upload Media (Image) "></div>
  <div class="txt-box"><textarea type="text" name="description" rows="8" placeholder="  descripton "></textarea></div>
  <div class="search"><input type="text" name="location" placeholder="location"></div>

 <div class="btn"><button type="submit">Post Now</button></div>
</form>
</div>
{% endblock %}

