{% extends 'publicparent.html' %} {% load static %} {% block title %} Dashboard
{% endblock title %} {%block content%}
<div id="form-layout">
  <p class="txt-1">Donation</p>
  <div class ="img">
    <img src="{% static 'img/donation.png' %}" height="100%" width="100%" />
  </div>
 

 
<form action="#" method='POST'  enctype="multipart/form-data">
  {% csrf_token %}
  <div class="search">
  <select name="" id="" >
      <option selected >---Donation Type ---</option>
      <option value="">Water</option>
      <option value="">Cleaning</option>
      <option value="">Garbage</option>
  </select></div>
  <div class="search"><input type="file" name="" placeholder=" Upload Media (Image) "></div>
  <div class="txt-box"><textarea type="text" name="" rows="8" placeholder=" Donation descripton "></textarea></div>
  <div class="search"><input type="text" name="" placeholder="Donar location"></div>

 <div class="btn"><button type="submit">Post Now</button></div>
</form>
</div>

{% endblock %}

