{% extends 'publicparent.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{%block content%}

<div class="info-layout" style="border-style: dashed; border-color:white;">
   <div class="txt-1 info-layout-header" style="display: flex;"><h2>Privacy Policy</h2>
      <div class="logo ">
         <!-- navbar logo -->
         <!-- <img class="logo-img" src="{% static 'img/logoimage.png' %}" alt=""> -->
         
          </div>
          <div class="logo-txt">
             <!-- <p style="font-family: cursive; color: green; font-size:1.6rem;">ENVORIOR</p> -->
             <!-- <p>Environment Worior</p> -->
              </div></div>
              
              <p class="txt-2">
               <br>This Privacy Policy describes how Social Warrior ("we," "us," or "our") collects, uses, stores, and protects information obtained from users ("you" or "your") when using our website (SocialWarrior.com) and any associated services or features.
           </p>
           <br>
           <span class="txt-1">Information We Collect</span>
           <p class="txt-2">
           <br> Personal Information: When you register or interact with our platform, we may collect personally identifiable information such as your name, email address, contact details, and any information voluntarily provided by you.
            Usage Data: We may collect information about how you interact with our website, including your IP address, browser type, device information, pages visited, and usage patterns.
           </p>
           <br><br>
           <span class="txt-1">How We Use Your Information</span>
           <p class="txt-2">
            <br>To Provide Services: We use the information collected to offer, improve, and personalize our services, including facilitating NGO listings, job postings, fundraising initiatives, and community engagement.
            Communication: We may use your contact information to send you updates, newsletters, or relevant information about our platform or environmental causes.
            </p>
            <br><br>
           <span class="txt-1">Information We Collect</span>
           <p class="txt-2">
            <br>Personal Information: When you register or interact with our platform, we may collect personally identifiable information such as your name, email address, contact details, and any information voluntarily provided by you.
            Usage Data: We may collect information about how you interact with our website, including your IP address, browser type, device information, pages visited, and usage patterns.
           </p>
           <br><br>
           <span class="txt-1">Data Sharing and Disclosure</span>
           <p class="txt-2">
            <br>We do not sell, trade, or rent your personal information to third parties without your consent, except as required to provide our services or comply with legal obligations.
            We may share aggregated or anonymized data for analytical purposes or to improve our services.
           </p>
           <br><br>
           <span class="txt-1">Data Security</span>
           <p class="txt-2">
           <br> We employ reasonable security measures to protect your information from unauthorized access, misuse, or alteration.
            </p>
            <br><br>
           <span class="txt-1">Your Choices</span>
           <p class="txt-2">
            <br>You have the right to access, correct, or delete your personal information. Please contact us if you wish to exercise these rights or have any concerns about your data.
              </p>

          <br><br>

           <span class="txt-1">Changes to This Policy</span>
           <p class="txt-2">
            <br>We reserve the right to update or modify this Privacy Policy. Any changes will be posted on this page with an updated effective date.
             </p>
             <br><br>
             <span class="txt-1">Contact Us</span>
             <p class="txt-2">
              <br> If you have any questions, concerns, or inquiries regarding this Privacy Policy or our practices, please contact us at info@envorior.com.
               </p>

               <div class="info-layout-footer"><span class="txt-2"><i class="fa-solid fa-envelope"></i></span>
               <span class="txt-2">info@SocialWarrior.com</span>
              <span class="txt-2"><br><i class="fa-solid fa-phone"></i></span>
              <span class="txt-2">00999001111</span></div>
  </div>
 

{% endblock %}

