{% extends 'publicparent.html' %} {% load static %} {% block title %} Dashboard
{% endblock title %} {%block content%}
<div id="form-layout">
  <p class="txt-1">Donation</p>
  <div class ="img">
    <img src="{% static 'img/donation.png' %}" height="100%" width="100%" />
  </div>
 

 
<form action="#" method='POST'  enctype="multipart/form-data">
  {% csrf_token %}
  <div class="search">
  <select name="donation_type" id="" >
      <option selected >---Donation Type ---</option>
      <option value="books">Books</option>
      <option value="cloths">Cloths</option>
      <option value="food">Food</option>
  </select></div>
  <div class="search"><input type="file" name="p_image" placeholder=" Upload Media (Image) "></div>
  <div class="txt-box"><textarea type="text" name="description" rows="8" placeholder=" Donation descripton "></textarea></div>
  <div class="search"><input type="text" name="location" placeholder="Donar location"></div>
  <button type="submit" class="btn btn-primary">Donate Now</button>

</form>
</div>

{% endblock %}

