{% extends 'publicparent.html' %} {% load static %} 
{% block title %} Profile{% endblock title %} 
{%block content%}
<div class="profile">
  
  <div class="upper">
    <div class="items">
      <div class="user-profile">
        <a href="{%url 'publicapp:profile'%}">
          <img class="profile-img" src="{% static 'img/user.jpeg' %}" alt=""/>
          </a>
      </div>
      <p class="txt-2">User Name</p>
    </div>
    <div class="items">
      <p class="txt-2">15</p>
      <p class="txt-2">Follower</p>
    </div>
    <div class="items">
      <p class="txt-2">16</p>
      <p class="txt-2">Following</p>
    </div>
  </div>
  <div class="lower">
    <div class="items">
      <a href="#"><button class="btn btn-secondary">Post</button></a>
    </div>
    <div class="items">
      <a href="#"><button class="btn btn-secondary">Complain</button></a>
    </div>
    <div class="items">
      <a href="#"><button class="btn btn-secondary">Job</button></a>
    </div>
  </div>

</div>

{% endblock %}
