{% extends 'publicparent.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{%block content%}

<div class="feed">
   <div class=" feed-search">
   <div class="user-profile">
      <a>
         <img class="profile-img" src="{% static 'img/user.jpeg' %}" alt=""></a>   
          </div>       
      <form >
         <div class="search">
            <input type="text" placeholder="write here to search something">
         </div>
          
      </form>
      <div class="btn">
         <a href="{% url 'publicapp:post'%}">
         <button type="submit">POST</button>
      </a>
       </div>
   </div>
 
 
{% for post in post %}
<div class="feed-post">
   <div class="feed-header">
      <div class="user-profile">
         <a><img class="profile-img" src="{% static 'img/user.jpeg' %}" alt=""></a>
         <div class="profile-txt">
          <a href="" class="txt-2"><p>{{post.postedby.full_name}}</p></a>
          <a href="" class="txt-3"><p>{{post.posteddate}}</p></a>
          
       </div>     
             </div>
   </div>
   <div class="feed-content">
      <p class="txt-3">{{post.postcaption}}</p>
           <div style="object-fit: cover;">
            <img src="{{post.postimage.url}}" height="100%" width="100%">
           </div>
           
   </div>
   <div class="feed-footer">
       <a href="#" class="text-decoration-none">
         <span class="txt-2"><i class="fa-solid fa-house"></i></span>
         <span class="txt-3">reward</span>
     </a>
      <a href="#" class="text-decoration-none">
         <span class="txt-2"><i class="fa-solid fa-comment"></i></span>
         <span class="txt-3">comment</span>
     </a>
      <a href="#" class="text-decoration-none">
         <span class="txt-2"><i class="fa-solid fa-share"></i></span>
         <span class="txt-3">share</span>
     </a>
   </div>
</div>
{% endfor %}
</div>


{% endblock %}

