{% extends 'publicparent.html' %} {% load static %} 
{% block title %} Profile{% endblock title %} 
{%block content%}
<div class="profile">
  
  <div class="upper">
    <div class="items">
      <div class="user-profile">
        {% if current_user_details.profile_picture %}
          <a><img class="profile-img" src="{{ current_user_details.profile_picture.url }}" alt=""></a>   
        {% else %}
          <a><img class="profile-img" src="{% static 'img/profile.png' %}" alt=""></a>
        {% endif %}
      </div>
      <p class="txt-2">{{current_user_details.full_name}}</p>
    </div>
    <div class="items">
      <p class="txt-2">{{current_user_details.followers.count}}</p>
      <p class="txt-2">Follower</p>
    </div>
    <div class="items">
      <p class="txt-2">{{current_user_details.followings.count}}</p>
      <p class="txt-2">Following</p>
    </div>
  </div>

  <div class="lower">
    <div class="items">
      <a href="{% url 'publicapp:userpost' %}"><button class="btn btn-secondary">Post</button></a>
    </div>
    <div class="items">
      <a href="{% url 'publicapp:usercomplain' %}"><button class="btn btn-secondary">Complain</button></a>
    </div>
    <div class="items">
      <a href="{% url 'publicapp:userjob' %}"><button class="btn btn-secondary">Job</button></a>
    </div>
    <div class="items">
        <a href="{% url 'publicapp:userdonation' %}"><button class="btn btn-secondary">Donation</button></a>
      </div>
  </div>


  <!-- #showing user complain -->
  {% for c in complain %}
  <div class="feed-post">
     <div class="feed-header">
        <div class="user-profile">
           {% if c.complain_by.profile_picture %} 
                <a href=""><img class="profile-img" src="{{ c.complain_by.profile_picture.url }}" alt=""/> </a>
           {% else %}
                <a href=""><img class="profile-img" src="" alt=""/> </a>
           {% endif %} 
       </div>
           <div class="profile-txt">
            <a href="" class="txt-2"><p>complaints type : {{c.complain_type}}</p></a>
            <a href="" class="txt-3"><p>complaints by : {{c.complain_by.full_name}}</p></a>
            
           </div>     
               </div>
     <div class="feed-content">
        <p class="txt-3">description: {{c.description}}</p>
        <p class="txt-3">location: {{c.complain_location}}</p>
             <div style="object-fit: cover;">
                 {% if c.complain_image %} 
                    <a href=""><img src="{{ c.complain_image.url }}" alt="" height="100%" width="100%"/> </a>
                 {% else %}
                    <a href=""><img  src="{% static 'img/profile.png' %}" alt="" height="100%" width="100%"/> </a>
                 {% endif %}
             </div>
             
     </div>
  
     <div class="feed-footer">
       
        <a href="/solvecomplain/{{c.c_id}}" class="text-decoration-none">
         {% if c.complain_status == 'solved' %}
           <span class="txt-1" style="background-color: rgb(58, 214, 19);" >Solved</span>
         {% else %} 
           <span class="txt-1" style="background-color: red;" >Unsolved</span> 
         {% endif %}
       </a>
       <div class="feed-footer">
        <a href="/deletecomplain/{{c.c_id}}" class="text-decoration-none">
         
          <span class="txt-1">Delete complain</span>
      </a>
    </div>
     </div>
    
  </div>
  {% endfor %}

</div>

{% endblock %}
