{% extends 'publicparent.html' %} {% load static %} 
{% block title %} Profile{% endblock title %} 
{%block content%}
<div class="profile">
  
  <div class="upper">
    <div class="items">
      <div class="user-profile">
        {% if current_user_details.profile_picture %}
          <a><img class="profile-img" src="{{ current_user_details.profile_picture.url }}" alt=""></a>   
        {% else %}
          <a><img class="profile-img" src="{% static 'img/profile.png' %}" alt=""></a>
        {% endif %}
      </div>
      <p class="txt-2">{{current_user_details.full_name}}</p>
    </div>
    <div class="items">
      <p class="txt-2">{{current_user_details.followers.count}}</p>
      <p class="txt-2">Follower</p>
    </div>
    <div class="items">
      <p class="txt-2">{{current_user_details.followings.count}}</p>
      <p class="txt-2">Following</p>
    </div>
  </div>

  <div class="lower">
    <div class="items">
      <a href="{% url 'publicapp:userpost' %}"><button class="btn btn-secondary">Post</button></a>
    </div>
    <div class="items">
      <a href="{% url 'publicapp:usercomplain' %}"><button class="btn btn-secondary">Complain</button></a>
    </div>
    <div class="items">
      <a href="{% url 'publicapp:userjob' %}"><button class="btn btn-secondary">Job</button></a>
    </div>
    <div class="items">
      <a href="{% url 'publicapp:userdonation' %}"><button class="btn btn-secondary">Donation</button></a>
    </div>
  </div>


  <!-- #showing user post -->


  {% for post in post %}
<div class="feed-post">
   <div class="feed-header">
      <div class="user-profile">
         <!-- get profile picture of postby -->
               {% if post.postby.profile_picture %}
               <a href="{%url 'publicapp:profile'%}">
               <img class="profile-img" src="{{ post.postby.profile_picture.url }}" alt=""/>
               </a>
               {% else %}
               <a href="{%url 'publicapp:profile'%}">
               <img class="profile-img" src="{% static 'img/profile.png' %}" alt=""/>
               </a>
               {% endif %}
         <div class="profile-txt">
          <a href="" class="txt-2"><p>{{post.postby.full_name}}</p></a>
          <a href="" class="txt-3"><p>{{post.posteddate}}</p></a>
          
       </div>     
             </div>
   </div>
   <div class="feed-content">
      <p class="txt-3">{{post.postcaption}}</p>
           <div style="object-fit: cover;">
            <img src="{{post.postimage.url}}" height="100%" width="100%">
           </div>
           
   </div>
   <div class="feed-footer">
       <a href="/deletepost/{{post.pid}}" class="text-decoration-none">
        
         <span class="txt-1">Delete Post</span>
     </a>
   </div>
</div>
{% endfor %}

</div>

{% endblock %}
