{% extends 'publicparent.html' %}
{% load static %}

{% block title %} Followings {% endblock title %}

{% block content %}

<div class="follower">
  <p class="txt-3 mt-2" style="margin-left: 3rem;"><i class="mt-3 mb-3">You are followings {{current_user_followings.count}} people</i></p>
  {% for i in following_details %}
<div class="user-profile">
   {% if pic %}
   <a href="">
    <img class="profile-img" src="{{i.pic.url}}" alt=""/>
   </a>
  {% else %}
    <a href="">
      <img class="profile-img" src="{% static 'img/user.jpeg' %}" alt=""/>
    </a>
  {% endif %}  
    <div class="profile-txt" style="position: relative; padding-bottom: 0.5rem;">
      <p class="txt-2">{{i.full_name}}</p>
      <p class="txt-3">No.of Followers:{{i.followers}}</p>
      <span class="btn btn-primary" style="float: right; position: absolute;top: 0.3rem;right: 1rem; padding: 0.3rem 1rem;">Following</span>
    </div>

    
</div>

{% endfor %}
</div>
{% endblock %}
