{% extends 'publicparent.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{%block content%}

<div class="feed">
   <div class="search feed-search">
   <div class="user-profile">
      <a><img class="profile-img" src="{% static 'img/user.jpeg' %}" alt=""></a>   
          </div>       
      <form >
          <input type="text" placeholder="write here to search something">
          <div class="btn">
            <button type="submit">POST</button>
          </div>
      </form>
   </div>


{% for i in "12345" %}
<div class="feed-post">
   <div class="feed-header" style="padding-right: 1rem;">
      <div class="user-profile">
         <a><img class="profile-img" src="{% static 'img/user.jpeg' %}" alt=""></a>
         <div class="profile-txt">
          <a href="" class="txt-2"><p>User Profile</p></a>
          <a href="" class="txt-3"><p>@user</p></a>
       </div>    
       </div> 
       <div class="btn" style="float: right;">
         <button type="submit">Apply Now</button>
             </div>
   </div>
   <div class="feed-content">
      <p class="txt-2">my name is raj</p>
      <p class="txt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti modi
          blanditiis atque harum deleniti perferendis suscipit dolorum quo nam? Omnis, repellendus
           provident voluptates tempore quaerat quam obcaecati repellat ipsa ipsum.</p>
           <div style="object-fit: cover;">
            <img src="{% static 'img/post.jpg' %}" height="100%" width="100%">
           </div>
           
   </div>
   <div class="feed-footer">
      <a href="#" class="text-decoration-none">
        <span class="txt-2"><i class="fa-solid fa-house"></i></span>
        <span class="txt-3">reward</span>
    </a>
     <a href="#" class="text-decoration-none">
        <span class="txt-2"><i class="fa-solid fa-comment"></i></span>
        <span class="txt-3">comment</span>
    </a>
     <a href="#" class="text-decoration-none">
        <span class="txt-2"><i class="fa-solid fa-share"></i></span>
        <span class="txt-3">share</span>
    </a>
  </div>
</div>
{% endfor %}


</div>

{% endblock %}

