{% extends 'publicparent.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{%block content%}
<div id="donation">
   <p class="txt-1">Donation</p> 
   <div style="object-fit: cover;">
       <img src="{% static 'img/donation.png' %}" height="100%" width="100%">
      </div>

<form >
   <div class="search"><input type="text" placeholder=" Search "></div>
   <div class="search"><input type="text" placeholder=" Search "></div>
   <div class="search"><input type="text" placeholder=" Search "></div>
   <div class="search"><input type="text" placeholder=" Search "></div>
   <div class="search"><input type="text" placeholder=" Search "></div>

   <div class="btn"><button type="submit">Donate</button></div>
</form>
 
</div>

{% endblock %}

