{% extends 'publicparent.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{%block content%}

<div class="info-layout" style="border-style: dashed; border-color:white;">
   <div class="txt-1 info-layout-header" style="display: flex;"><h2>Term & Conditions</h2><br>
      <div class="logo ">
         <!-- navbar logo -->
         <!-- <img class="logo-img" src="{% static 'img/logoimage.png' %}" alt=""> -->
         
          </div>
          <div class="logo-txt">
             <!-- <p style="font-family: cursive; color: green; font-size:1.6rem;">Social</p> -->
             <!-- <p> Worior</p> -->
              </div></div><br>
              
              <p class="txt-2">
               Please read these terms and conditions ("Terms," "Terms and Conditions") carefully before using SocialWarrior.com (the "Website") operated by Social Warrior ("us," "we," or "our").
               Your access to and use of the Website is conditioned on your acceptance of and compliance with these Terms. By accessing or using the Website, you agree to be bound by these Terms. If you disagree with any part of the terms, then you may not access the Website.
              </p><br><br>
              <span class="txt-1">Accounts</span>
              <p class="txt-2">
              <br> When you create an account with us, you must provide accurate and complete information. You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer. You agree to accept responsibility for all activities that occur under your account or password.
              </p>
               <br><br>
              <span class="txt-1">Intellectual Property</span>
              <p class="txt-2">
               <br>The Website and its original content, features, and functionality are owned by Social Warrior and are protected by international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws.
               </p>
               <br><br>
              <span class="txt-1">User Content</span>
              <p class="txt-2">
              <br> Users may contribute content to the Website (text, images, etc.). By submitting content, you grant us a non-exclusive, worldwide, royalty-free, sublicensable, and transferable license to use, reproduce, distribute, prepare derivative works of, display, and perform the user content.
            </p>
            <br><br>
              <span class="txt-1">Links to Other Websites</span>
              <p class="txt-2">
               <br>Our Website may contain links to third-party websites or services that are not owned or controlled by Social Warrior. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party websites or services.
               </p>
               <br><br>
              <span class="txt-1">Changes & Governing Law</span>
              <p class="txt-2">
               <br>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. Any changes will be effective immediately upon posting on the Website.
               These Terms shall be governed and construed in accordance with the laws of [Your Country], without regard to its conflict of law provisions.
               </p>
               <br><br>
              <span class="txt-1">Contact Us</span>
              <p class="txt-2">
              <br> If you have any questions about these Terms, please contact us at info@socialwarrior.com .
               </p>
         
  </div>
 

{% endblock %}

