{% extends 'publicparent.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{%block content%}

<div class="about">
   <div class="txt-1 about-header" style="display: flex;">About
      <div class="logo ">
         <!-- navbar logo -->
         <img class="logo-img" src="{% static 'img/logoimage.png' %}" alt="">
         
          </div>
          <div class="logo-txt">
             <p style="font-family: cursive; color: green; font-size:1.6rem;">ENVORIOR</p>
             <p>Environment Worior</p>
              </div></div>
              
              <p class="txt-3">
               Envorior is the ultimate social media platform for environmental advocates and NGOs 
               committed to preserving our planet. Here, NGOs can easily list their organizations, 
               share their crucial initiatives, post job opportunities, and initiate fundraising campaigns.
                Our platform thrives on collaboration and provides a space where individuals passionate about 
                environmental causes can connect, share ideas, and join forces to address pressing environmental issues. 
                Join us in our mission to protect and nurture nature for a sustainable and thriving world
              </p>
            <div class="about-footer"><span class="txt-2"><i class="fa-solid fa-house"></i></span>
               <span class="txt-2">info@envorior.com</span>
    
              <span class="txt-2"><i class="fa-solid fa-house"></i></span>
              <span class="txt-2">00999001111</span></div>
  </div>
 

{% endblock %}

