{% extends 'serventparent.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{%block content%}

<table>
  <thead>
    <tr>
      <th>Serial No.</th>
      <th>Type</th>
      <th>Name</th>
      <th>Email</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for i in "1223"%}
    <tr>
      <td>1</td>
      <td>News</td>
      <td>Lorem Ipsum</td>
      <td>xyz@gmail.com</td>
      <td>12/03/2001</td>
      <td><i class="fa-solid fa-eye"></i> <i class="fa-solid fa-trash-can"></i></td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>

<div class="feed">


    {% for i in "1234567" %}
<div class="feed-post">
   <div class="feed-header">
      <div class="user-profile">
         <a><img class="profile-img" src="{% static 'img/user.jpeg' %}" alt=""></a>
         <div class="profile-txt">
          <a href="" class="txt-2"><p>random text</p></a>
          <a href="" class="txt-3"><p>random text</p></a>
          
       </div>     
             </div>
   </div>
   <div class="feed-content">
      <p class="txt-3">random text</p>
           <div style="object-fit: cover;">
            <img src="{% static 'img/planting.png'%}" height="100%" width="100%">
           </div>
           
   </div>
   <div class="feed-footer">
     
      <a href="#" class="text-decoration-none">
      
         <span class="txt-1">Solved/Unsolved</span>
     </a>
   </div>
</div>
{% endfor %}
</div>



<table>
   <thead>
     <tr>
       <th>Serial No.</th>
       <th>Type</th>
       <th>Name</th>
       <th>Email</th>
       <th>Date</th>
       <th>Action</th>
     </tr>
   </thead>
   <tbody>
     {% for i in "12234566778"%}
     <tr>
       <td>1</td>
       <td>News</td>
       <td>Lorem Ipsum</td>
       <td>xyz@gmail.com</td>
       <td>12/03/2001</td>
       <td><i class="fa-solid fa-eye"></i> <i class="fa-solid fa-trash-can"></i></td>
     </tr>
     {% endfor %}
     
   </tbody>
 </table>


 
 <div class="feed">
{% for i in "12" %}

<div class="feed-post">
   <div class="feed-header">
      <div class="user-profile">
         <a><img class="profile-img" src="{% static 'img/user.jpeg' %}" alt=""></a>
         <div class="profile-txt">
          <a href="" class="txt-2"><p>{{post.postby}}</p></a>
          <a href="" class="txt-3"><p>{{post.posteddate}}</p></a>
          
       </div>     
             </div>
   </div>
   <div class="feed-content">
      <p class="txt-3">{{post.postcaption}}</p>
           <div style="object-fit: cover;">
            <img src="{% static 'img/planting.png'%}" height="100%" width="100%">
           </div>
           
   </div>
   <div class="feed-footer">
       <a href="/like/{{post.pid}}" class="text-decoration-none">
         <span class="txt-2"><i class="fa-solid fa-house"></i></span>
         <span class="txt-3">reward ({{post.reward}})</span>
     </a>
      <a href="#" class="text-decoration-none">
         <span class="txt-2"><i class="fa-solid fa-comment"></i></span>
         <span class="txt-3">comment</span>
     </a>
      <a href="#" class="text-decoration-none">
         <span class="txt-2"><i class="fa-solid fa-share"></i></span>
         <span class="txt-3">share</span>
     </a>
   </div>
</div>
{% endfor %}
</div>


{% endblock %}

