{% extends 'serventparent.html' %}
{% load static %}

{% block title %} Dashboard {% endblock title %}

{%block content%}

<div class="feed">
<div class="dashboard-links">
<a class="txt-1" href="{%url 'serventapp:dashboard'%}">Home</a>
</div>
    
<div class="dashboard-links">
<a class="txt-1" href="{%url 'serventapp:notification'%}">Notification</a>
</div>
    
<div class="dashboard-links">
<a class="txt-1" href="{%url 'serventapp:complain'%}">Complain</a>
</div>
    
<div class="dashboard-links">
<a class="txt-1" href="{%url 'serventapp:post'%}">Add Event</a>
</div>
    
<div class="dashboard-links">
<a class="txt-1" href="{%url 'serventapp:rank'%}">Top Social person</a>
</div>
    
<div class="dashboard-links">
<a class="txt-1" href="{%url 'serventapp:event'%}">Top News/Event</a>
</div>

</div>



{% endblock %}

