{% extends 'serventparent.html' %}
{% load static %}

{% block title %} Event {% endblock title %}

{%block content%}

<div class=" feed-search">
  <!-- <div class="user-profile">
     <a>
        <img class="profile-img" src="{% static 'img/user.jpeg' %}" alt=""></a>   
         </div>        -->
     <form >
        <div class="search">
           <input type="text" placeholder="write here to search something">
        </div>
         
        <div class="btn">
          <a href="#">
          <button type="submit">Enter</button>
       </a>
        </div>
     </form>
     
  </div>
  <hr>
     <div>
        {% for e in event %}
           <div>
              <div>
                  <p>News/Event by: {{e.department.full_name}}</p>
                  <p>Date: {{e.date}}</p>
                  <p>description : {{e.description}}</p>
                  <div>
                    {% if e.image %}
                       <img src="{{e.image.url}}" alt="">
                    {% endif %}   
                  </div>
              </div>
           </div>
        {% endfor %}
     </div>
</div>
{% endblock %}






