{% extends 'serventparent.html' %}
{% load static %}

{% block title %} Add event {% endblock title %}

{%block content%}
<div id="form-layout">
   <p class="txt-1">Add Event</p> 
   <!-- <div class ="img">
       <img src="{% static 'img/scam.png' %}" height="100%" width="100%">
      </div> -->

<form action="#" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="txt-box"><textarea type="text" name="caption" rows="8" placeholder=" Message "></textarea></div>
   <div class="search"><input type="file" name="pimg" placeholder=" Upload Media (Image) "></div>

   <div class="btn"><button type="submit">Add Now</button></div>
</form>
 
</div>

{% endblock %}

