{% extends 'serventparent.html' %}
{% load static %}

{% block title %} Event {% endblock title %}

{%block content%}


 
 
{% for e in event %}
<div class="feed-post">
  
   <div class="feed-content">
      <p class="txt-3">News/Event by: {{e.department.full_name}}</p>
      <p class="txt-3">Date: {{e.date}}</p>
      <p class="txt-3">description : {{e.description}}</p>

   
           <div style="object-fit: cover;">
            {% if e.image %}
              <img src="{{e.image.url}}" alt="" height="100%" width="100%">
            {% endif %} 
            <!-- <img src="{{post.postimage.url}}" height="100%" width="100%"> -->
           </div>
           
   </div>

   <div>
      <a href="/delete_event/{{e.e_id}}">
        Delete 
      </a>
   </div>
  
</div>
{% endfor %}
</div>

{% endblock %}






